
.form-field {
    margin-bottom: 20px;
}

.form-field p {
    font-size: 1.3em;
    margin: 16px 0px;
}

.form-field label {
    font-size: 1.2em;
    display: block;
    margin-bottom: 6px;
}

.form-field input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1em;
    padding: 6px;
    outline: none;
}

.form-field textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.4em;
    padding: 6px;
    min-height: 300px;
    outline: none;
}

.form-field select {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1em;
    padding: 6px;
    outline: none;
}

.form-field input[type="file"] {
    background: rgb(239, 239, 239);
    border: 1px solid black;
    border-radius: var(--radius-value-1);
    cursor: pointer;
}

.form-field input[type="file"]:hover {
    background: rgb(231, 231, 231);
}

.form-field span {
    display: block;
    text-align: center;
    font-size: 1.4em;
    padding-top: 14px;
    padding-bottom: 8px;
}

.associated-image {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.associated-image img {
    height: 140px;
    border: 1px solid black;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    margin-bottom: 40px;
    background: #0d6efd;
    color: white;
    border: 1px solid black;
    border-radius: var(--radius-value-1);
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: #0d6bf5;
}