
.filter-form {
    margin-bottom: 18px;
}

.filter-fields {
    display: flex;
    justify-content: space-between;
}

.filter-field {
    width: 42%;
    margin-bottom: 10px;
}

.filter-field label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 4px;
}

.filter-field select,
.filter-field input {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 1px solid var(--border-color-2);
    border-radius: var(--radius-value-1);
}

.filter-field select {
    font-size: 1.1em;
    padding: 5px 6px;
    appearance: none;
}

.filter-field input {
    font-size: 1.1em;
    padding: 5px 6px;
}

.button-create-announcement,
.filter-form input[type="submit"] {
    display: block;
    width: 100%;
    border: 1px solid var(--border-color-1);
    background: var(--button-background-color-1);
    color: var(--button-font-color-1);
    text-decoration: none;
    font-size: 1.2em;
    padding: 6px 16px;
    box-sizing: border-box;
    margin-bottom: 22px;
    border-radius: var(--radius-value-1);
    cursor: pointer;
}

.filter-form input[type="submit"] {
    background: var(--button-background-color-2);
    color: var(--button-font-color-2);
    border: 1px solid silver;
}

.filter-form input[type="submit"]:hover {
    background: var(--button-background-color-hover-2);
}

/* announcement */

.announcement {
    border: 1px solid var(--border-color-1);
    margin-bottom: 18px;
}

.announcement a {
    text-decoration: none;
    color: black;
}

.announcement-header {
    border-bottom: 1px solid var(--border-color-1);
    box-sizing: border-box;
    background: #f1f9fa;
    width: 100%;
    padding: 6px 10px;
}

.announcement-header > div {
    display: flex;
    justify-content: space-between;
}

.announcement-title {
    display: block;
    font-size: 1.15em;
    background: #f1f9fa;
}

.announcement-views {
    display: block;
}

.time-elapsed {
    display: inline-block;
    color: var(--font-color-2);
    margin-top: 4px;
}

.announcement-illustration {
    float: left;
    width: 140px;
    display: block;
    border-bottom: 1px solid var(--border-color-1);
    border-radius: var(--radius-value-1);
    margin: 14px 24px 14px 18px;
    box-shadow: 0px 0px 6px silver;
}

.announcement-content {
    padding-top: 4px;
}

.announcement-content p {
    box-sizing: border-box;
    padding: 8px 16px;
    margin: 0px;
    font-size: 1.1em;
    line-height: 1.8em;
}
